.App {
    /* text-align: center; */
    color: #cccccc;
    overflow-y: auto;
    height: 100vh;   
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.follow {
    font-size: 18px;
    display:block;
}


/* menu */
/* .left-align {
    text-align: left;
}

.left-align-menu {
    text-align: left;
    text-indent: 5.5em;
} */

ul#horizontal-list {
	/* min-width: 696px; */
	list-style: none;
	padding-top: 20px;
	}
	ul#horizontal-list li {
        display: inline;
        margin: 5px;
        font-size: 16px;
    }
    
    ul#horizontal-list a {
        color: grey;
    }

    html, body, #app, #app>div {
        height: 100%;
        background-color: #000;
      }

      .green {
        color: green;
      }
      
      .red {
        color: red;
      }
      
      .greenies {
        color: #7ebc59;
        font-weight: bold;
      }
      
      .black_bg {
          background-color: #000;
      
      }